# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# PostgreSQL connection string for the database
DATABASE_URL="postgres://r00t:t00r@localhost:5432/fluffboost"

# Redis connection string
REDIS_URL="redis://localhost:6379/0"

# Discord application details
DISCORD_APPLICATION_ID=""
DISCORD_APPLICATION_PUBLIC_KEY=""
DISCORD_APPLICATION_BOT_TOKEN=""

# Discord Default Activity Status
DISCORD_DEFAULT_STATUS="Spreading Paw-sitivity 🐾"
# DISCORD_DEFAULT_ACTIVITY_TYPE can be "Playing", "Streaming", "Listening", "Watching", or "Custom"
DISCORD_DEFAULT_ACTIVITY_TYPE="Custom"
DEFAULT_ACTIVITY_URL=""
DISCORD_ACTIVITY_INTERVAL_MINUTES=15

# Allowed users to add to the database
ALLOWED_USERS=""
OWNER_ID=""

# Main Server guild ID
MAIN_GUILD_ID=""
MAIN_CHANNEL_ID=""

# Post Hog configuration
POSTHOG_API_KEY=""
POSTHOG_HOST="https://[replacement].posthog.com"

# IP, PORT, and ENV for the app to run on.
# IP=127.0.0.1
# PORT=8080
# DEBUG=ioredis:*
# NODE_ENV=production
